programming-exercise-juezlti/node_modules/
programming-exercise-juezlti/serialized/*
evaluation-report-juezlti/node_modules/
server/node_modules/
server/public/zip/*
server/dist-server
tests/node_modules/
main/node_modules/
main/temp/