programming-exercise/node_modules/
programming-exercise/serialized/
programming-exercise/temp/
evaluation-report/node_modules/
evaluator/node_modules/
tests/node_modules/
tests/resources/
tests/docs/

